<!-- Views/Home/Index.cshtml -->

@model dotInstrukcije.Models.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div id="root"></div>

<!-- Include necessary scripts -->
<script src="~/js/react.production.min.js"></script>
<script src="~/js/react-dom.production.min.js"></script>
<script src="~/js/babel.min.js"></script>

<!-- Include your compiled JavaScript bundle -->
<script src="~/js/app.bundle.js"></script>
